{% extends 'parent.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Payment</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>sl No.</th>
                          <th>student_name</th>
                          <th>room_rent</th>
                          <th>mess_bill</th>
                          <th>from_date</th>
                          <th>to_date</th>
                          <th>amount</th>
                          <th>status</th>
<!--                          <th>update/delete</th>-->
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td class="py-1">{{forloop.counter}}</td>
                          <td>{{i.student_name}}</td>
                          <td>{{i.room_rent}}</td>
                          <td>{{i.mess_bill}}</td>
                          <td>{{i.from_date}}</td>
                          <td>{{i.to_date}}</td>
                          <td>{{i.amount}}</td>
                        <td>
                            {% if i.status == 0 %}
                            <a class="btn btn-success" href="{% url 'approve_payment' i.id %}">PAID</a>
                            <a class="btn btn-danger" href="{% url 'reject_payment' i.id %}">NOT PAID</a>
                            {% elif i.status == 1 %}
                            <p class="btn btn-success">paid</p>
                            {% elif i.status == 2 %}
                            <p class="btn btn-danger">not paid</p>
                            {% endif %}
                          </td>

                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}